@media only screen and (min-width: 1141px) {
/*-----BODY -----*/
  body {}

/*-----WRAPPER -----*/
  #wrapper {
    background-color: rgba(34,34,34, .95);
  }

/*-----CONTAINER -----*/
  #container {
    margin: 0 auto;
    border: none;
    min-width: 1141px;
    max-width: 1800px;
  }

/*-----HEADER -----*/
header{
  padding-top: 11%;
  padding-bottom: 11%;
}
div#container header hgroup h1{
  font-size: 3.4em;
  line-height: 3em;
  margin-left:3.5em;
  margin-right:3.5em;
  opacity: .55;
}
div#container header hgroup h2{
  color: white;
  font-size: 1.5em;
  letter-spacing: .5em;
  opacity: .7;
}


/*-----NAVigation -----*/
nav{
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'Raleway', sans-serif;

}
nav#top ul{
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .2em;
}
nav ul li{
  margin-right: 1em;
}



/*-----CONTENT -----*/




div#content.index-content{
  max-width: 1600px;
 }
#content{
  min-height: 5em;
  max-width: 960px;
  margin: 0 auto;
}
#content h1{
  letter-spacing: .35em;
  font-size: 1.3em;
  padding-top: .8em;
}
div#content div.mobile-wrapper h1.proj-h1{
  padding-top: 8%;
  padding-bottom: 8%;
  font-size: 2.5em;
  letter-spacing: .2em;
}
div#trueSpirit-mobile.indiv-proj-wrapper p span a{
  font-size: 1.2em;
}
div#trueSpirit-mobile.indiv-proj-wrapper a img{
  width: 55%;
  margin-top: -1.5em;
}
div#trueSpirit-mobile.indiv-proj-wrapper p{
  margin-top: -.5em;
}
div#trueSpirit-mobile.indiv-proj-wrapper img.ts-img1{
  width: 50%;
}
div#content div.mobile-wrapper p.proj-intro.ts-intro{
  margin-bottom: 0;
  padding-bottom: 2em;
  font-size: 1.4em;
}
div#content div.mobile-wrapper p.proj-intro.bm-intro{
  font-size: 1.4em;
  margin-top: -3em;
}

/*-----------About Section--------------------*/
div.mobile-wrapper h1{
  margin: 0;
}
div#about-mobile.about-wrapper p{
    margin: 0;
    text-align: center;
    line-height: 1.40;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1em;
    padding-bottom: 4em;
}
div.about-img{
  margin-bottom: -2.5em;
}
/*------------Overview Section---------------*/
div.overview h2{
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.8em;
}
div.overview p{
  padding-bottom: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  line-height: 1.35;
  margin: 0;
}
div.overview p.ts-overview{
   font-size: 1.0em;
}
div#trueSpirit-mobile.indiv-proj-wrapper p.ts-overview.bm-overview{
  margin-top: 0;
}

/*---------Challenges Section-----------------*/
div#challenge.crowdCareChallenge{
  background-color: rgba(0,0,0,.1);
}
div#challenge.crowdCareChallenge h2.crowdCareChallenge-h2{
  padding-top: 1em;
  padding-bottom: 1em;
  letter-spacing: .25em;
  font-size: 1.8em;
}
.chal-mobile{
  display: none;
}
.chal-desktop{
  display: block;
  width: 80%;
  margin-left: 10%;
}
div#challenge.crowdCareChallenge div.chal-desktop ul li{
  font-size: 1em;
  padding-bottom: 1em;
}
.chal-desktop ul, div#role.ts-role div.tablet-ul ul{
  padding-bottom: 2em;
  padding-top: 2em;
}
.chal-desktop ul li, div#role.ts-role div.tablet-ul ul li{
  font-size: 1em;
  padding-bottom: 1em;
  line-height: 1.5;
}
div#challenge.crowdCareChallenge div.chal-desktop ul{
  margin-bottom: 0;
}
div#challenge.crowdCareChallenge.takeMeHome-chal{
  padding-bottom: 1em;
}
div#challenge.crowdCareChallenge div.tablet-ul.ts-chal{
  width: 80%;
  margin-left: 10%;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: .8em;
  line-height: 1.3;
}
div#challenge.crowdCareChallenge div.tablet-ul.ts-chal ul li{
  padding-bottom: .5em;
  padding-top: .5em;
}
/*----------Role Section-----------------*/
div#role.ts-role h2, div#challenge.crowdCareChallenge h2.chal-h2{
  font-size: 1.8em;
  padding-bottom: 1em;
  padding-top: 1em;
}
div#role.ts-role p{
  font-size: 1.25em;
  text-align: center;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 2em;
  padding-bottom: 1.5em;
}
div#role.ts-role div.tablet-ul{
  width: 80%;
  margin-left: 10%;
}
div.tablet-ul{
  width: 80%;
  margin-left: 10%;
}
div.tablet-ul ul{
  font-size: 1em;
}
div#role.bandmeeter-role div.hide-mobile.tablet-ul ul.bm-role li{
  font-size: 1em;
}

/*----------Approach Section-------------*/
div#approach.moscow h2{
  font-size: 1.8em;
  letter-spacing: .2em;
  padding-bottom: 1em;
  padding-top: 1em;
}
div#approach.moscow div.moscow-tble{
  background-color: white;
  margin: 0;
  width: 80%;
  margin-left: 10%;
}
div#approach.moscow{
  background-color: white;
}
div#approach.moscow div.moscow-tble h3{
  font-size: 1.6em;
  line-height: 2.5;
  border: 4px inset rgba(0,0,0,.09);
}
div#approach.moscow div.moscow-tble p{
  font-size: 1.25em;
}
div#approach.moscow div.moscow-tble ul{
  font-size: 1em;
  line-height: 1.2;
}
div#approach.moscow ul li{
  font-size: 1em;
  padding-bottom: 1em;
}
div#approach.ts-app{
  background-color: rgba(158, 158, 158, .85);
}
div#approach.ts-app h2{
    color: rgba(255,255,255,.85);
    font-size: 1.8em;
    letter-spacing: .2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
/*------- Tools Section-------*/
div.tools.crowdCareTools div.tools-inset h3{
  font-size: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}
div.tools.crowdCareTools ul{
  padding-left: 33.3333%;
}
div.tools.crowdCareTools ul li{
  font-size: .8em;
  padding-bottom: .5em;
}
div.tools.crowdCareTools{
    margin: 0;
    padding: 2em;
    background-color: white;
}
div.tools.crowdCareTools div.tools-inset{
  width: 40%;
  margin-left: 30%;
  background-color: rgba(34,34,34,.30);
  color: white;
}
div.tools.crowdCareTools div.tools-inset h3{
  text-align: center;
  padding-top: 1em;
  font-size: 1.2em;
}
.tools-desktop-ul{
  width: 60%;
  margin-left: 20%;
  text-align: left;
}
div.tools.crowdCareTools div.tools-inset.wide{
  width: 70%;
  margin-left: 15%;
}
div.tools.crowdCareTools div.tools-inset.wide div.tools-desktop-ul{
  width: 40%;
  margin-left: 30%;
}
div.tools.crowdCareTools{
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(34,34,34,.30);
}
.col-2.clearfix div.tools h3, .col-2.clearfix div.tools ul{
  margin-left: 30%;
  font-size: 1em;
}
.col-2.clearfix div.methods h3, .col-2.clearfix div.methods ul{
  margin-right: 30%;
  font-size: 1em;
}
.col-2.clearfix div.tools ul li, .col-2.clearfix div.methods ul li{
  font-size: .8em;
  line-height: 1.25;
}
div.col-2.clearfix{
  padding-top: 2em;
  padding-bottom: 0;
}
/*-------------- Define Section-------------*/

div#define.crowdCare-define h2{
  font-size: 1.8em;
  padding-top: 1em;
  background-color: rgba(0,0,0,.55);
  padding-bottom: 1em;
  margin-bottom: 0;
}
div#define.crowdCare-define p{
  text-align: center;
}
div#define.bandmeeter-define h2{
  font-size: 1.8em;
}
div#define.bandmeeter-define p{
  font-size: 1em;
  text-align: center;
  margin: 0;
}
div#define.bandmeeter-define ul{
  margin-left: 33.3333%;
}
div#define.bandmeeter-define ul li{
  font-size: 1em;
}
div#define.crowdCare-define h3, div#define.bandmeeter-define h3{
  font-size: 1.4em;
  margin-left: 2.5em;
  margin-right: 2.5em;
}
div#define.crowdCare-define p, div#future-plans p{
  padding-left: 2.5em;
  padding-right: 2.5em;
  font-size: 1em;
  line-height: 1.25;
}
div#define.crowdCare-define p.game-levels{
    padding-top: 2.5em;
    line-height: 1.45em;
    padding-left: 20%;
    padding-right: 20%;
}
div.indiv-proj-img.persona.crowdCareERD.hide-mobile img{
  padding: 5%;
}

/*------------Discovery Section--------------*/
div#discovery h2{
  font-size: 1.8em;
}

div#discovery.api{
  background-color: rgba(0,0,0,.70);
}
div#discovery.ts-discovery{
  background-color: white;
}
div#discovery.api h2{
  background-color: transparent;
  font-size: 1.8em;
  letter-spacing: .2em;
  padding-bottom: 0;
}
div#discovery.ts-discovery h2{
  font-size: 1.8em;
  letter-spacing: .2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgba(0,0,0,.65);
  color: rgba(255,255,255,.9);
}
div#discovery.ts-discovery h3{
  font-size: 1.6em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  color: rgba(0,0,0,.6);
  border: 2px inset rgba(0,0,0,.6);
}
div#discovery.api p, div#discovery.ts-discovery p{
  margin: 0;
}
div#discovery.api p{
  padding-top: 0;
}
div#discovery.ts-discovery p{
  margin-left: 2.5em;
  margin-right: 2.5em;
  line-height: 1.25;
  font-size: 1em;
  color: rgba(0,0,0,.6);
  padding-top: .8em;
}
div#discovery p.api-p1{
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 1em;
  margin-top: 0;
}
div#discovery p.api-p2{
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 0;
  margin-top: 0;
}
div#discovery.bandmeeter-discovery-wrapper{
  background-color: rgba(0,0,0,.85);
}
div#discovery h2.bandmeeter-discovery{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.8em;
    letter-spacing: .2em;
    line-height: 1.35;
}
div#discovery h3.bm-discovery-h3-1, div#discovery h3.bm-discovery-h3-2, div#discovery.bandmeeter-discovery-wrapper p.bm-discovery-p1, div#discovery.bandmeeter-discovery-wrapper p.bm-discovery-p2{
  padding-left: 2.5em;
  padding-right: 2.5em;
  font-size: 1em;
}
div.indiv-proj-img.bandmeeter-comp img{
  width: 50%;
}
h3.takeMeHome-uf{
  background-color: rgba(0,0,0,.07);
  color: rgba(0,0,0,.55);
  font-size: 1.6em;
  font-weight: bold;
}
div#define.crowdCare-define h3.takeMeHome-uf{
    border: none;
}
div#define.crowdCare-define.takeMeHome-define{
  background-color: rgba(0,0,0,.07);
}
div.indiv-proj-img.takeMeHome-ufimg{
    background-color: rgba(0,0,0,.07);
}
div.indiv-proj-img.takeMeHome-ufimg img{
  padding: 2% 5% 10% 5%;
}
div#define.crowdCare-define h3.ts-define{
  margin-right: 2em;
  margin-left: 2em;
}
div#define.crowdCare-define p.ts-define{
  text-align: left;
}
/*-----------Approach Section---------------*/
div#approach h2{
  font-size: 1.8em;
}
/*-----------Competitive Analysis Section---------*/
div.img-2up-container.clearfix{
  background-color: white;
}
/*------------Site Design Section-----------------*/
div#site-design h2.takeMeHome-sd{
  margin: 0;
  padding: 1em 0 1em 0;
  font-size: 1.8em;
  letter-spacing: .2em;
  background-color: rgba(0,0,0,.3);
}
div.indiv-proj-img.tmh-sd{
  padding: 5%;
}
div#site-design.ts-design h2{
  font-size: 1.8em;
  letter-spacing: .2em;
  padding-bottom: 1em;
  padding-top: 1em;
}
div#site-design.ts-design h3{
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-size: 1.6em;
  line-height: 1.25;
}
div#site-design.ts-design p{
  font-size: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
}
div.indiv-proj-img.empathy img{
  padding: 2.5em;
}
div#bandmeeter-emp h2{
  font-size: 1.8em;
}
/*--------------Persona Section----------------*/
div.indiv-proj-img.persona.ux h3{
  font-size: 1.4em;
  padding-bottom: 1em;
  padding-top: 2em;
}
div.indiv-proj-img.persona.ux img{
  padding: 5%;
}
div#bandmeeter-persona h2{
  font-size: 1.8em;
}
div#bandmeeter-persona p{
  font-size: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
}
div#bandmeeter-emp p, div#scope p, div#bandmeeter-sitemap p{
  font-size: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
div.indiv-proj-img.bandmeeter-persona-img{
  padding: 2.5em;
}
/*------------Define (ERD Section)----------------*/
div.indiv-proj-img.persona.crowdCareERD img{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 6em;
}
div#define.crowdCare-define{
  background-color: transparent;
}
div#define.crowdCare-define p.erd-p{
  padding-top: 2em;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 1.5;
}

/*----------Sketching Section---------------*/
div#sketching h2{
  font-size: 1.8em;
}
div#discovery h3, div#site-design h3, div#sketching h3{
  font-size: 1.6em;
  margin-left: 2em;
  margin-right: 2em;
}
div#discovery p, div#site-design p, div#sketching p{
  font-size: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
}
div#scope h2{
  font-size: 1.8em;
}
div#scope h3, div#bandmeeter-sitemap h3{
  font-size: 1.6em;
  margin-left: 2em;
  margin-right: 2em;
}
div.indiv-proj-img.bandmeeter-sitemap-img{
  padding: 2.5em;
}
/*----------Wires Section--------------------*/
div.img-2up{
  padding: 1em;
}
div#wireframes h2, div#prototypes h2{
  font-size: 1.8em;
  padding-top: 1em;
  padding-bottom: 1em;
}
div#wireframes p.bm-wires-p1, div#wireframes p.bm-wires-p2, div#wireframes p.bm-wires-p3, div#prototypes p{
  font-size: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
}
div#wireframes p.bm-wires-p1{
  padding-bottom: 1em;
  margin-top: 0;
}
div#wireframes p.bm-wires-p2, div#wireframes p.bm-wires-p3{
  padding-top: 1em;
  margin: 0;
}
div#site-design.crowdCareWires{
  background-color: rgba(0,0,0,.75);
}
div#site-design.crowdCareWires h2{
  background-color: transparent;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 0;
  font-size: 1.8em;
}
div#wireframes p{
  font-size: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
}
div.indiv-proj-img.ts-wires{
  padding: 2.5em;
}
div#site-design.crowdCareWires p{
  text-align: center;
  padding-left: 2.5em;
  padding-right: 2.5em;
  font-size: 1em;
  line-height: 1.25;
}
div#site-design.crowdCareWires p.cc-wires-p{
  padding-top: 2.5em;
}
div#site-design.ts-design{
  background-color: rgba(0,0,0,.75);
}
div.indiv-proj-img.cards{
  background-color: rgba(0,0,0,.75);
}
div.indiv-proj-img.cards{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
div.indiv-proj-img.bm-roughwires{
  padding: 2.5em;
}
div#site-design h2.second-h2{
  font-size: 1.8em;
}
div.indiv-proj-img.final-sitemap.ux{
  padding: 2.5em;
}
/*------Future Development Section-----------*/
div#future-plans{
  background-color: white;
  padding-bottom: 4em;
}
div#future-plans h2{
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.8em;
}
div#future-plans p{
  text-align: left;
  padding-bottom: 0;
}
div#trueSpirit-mobile.indiv-proj-wrapper p.tmh-future-p1, div#trueSpirit-mobile.indiv-proj-wrapper p.tmh-future-p2{
  margin: 0;
  font-size: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
}
div#trueSpirit-mobile.indiv-proj-wrapper p.tmh-future-p1{
   padding-top: 2em;
}
div#trueSpirit-mobile.indiv-proj-wrapper p.tmh-future-p2{
  padding-top: 1em;
}

/*---------------Back to Top Link------------*/
div#trueSpirit-mobile.indiv-proj-wrapper h4{
  font-size: 1.2em;
  padding-bottom: 3em;
}

div#trueSpirit-mobile.indiv-proj-wrapper h4.spacebar{
  margin-top: -.5em;
}
/*------PROJECT SPECIFIC DIVS----------------*/
.tablet-proj-wrapper.clearfix{
  transition: opacity ease-in .4s;
  padding: 0;
}
.tablet-proj-wrapper.clearfix:hover{
  opacity: .7;
}
.tablet-proj-wrapper.clearfix h2{
  margin-bottom: 0;
}
.tablet-proj-wrapper.clearfix p{
  margin-top: -1.0em;
}
.tablet-proj-wrapper.clearfix img{
  width: 60%;
}
div.tablet-wrapper div.view-all-link h4{
  padding-top: 29%;
}
/*-------Prototypes Section-------------*/
div#prototypes h2{
  margin:0;
}
div#prototypes p{
  margin: 0;
  padding-left: 2.5em;
  padding-right: 2.5em;
  background: inherit;
  text-align: center;
}
/*--------Hi Fidelity Mockup Section---------*/
div.indiv-proj-img.mockup h3{
  padding-top: .5;
  font-size: 1.2em;
}
div.indiv-proj-img.mockup.bm-mockup img{
  width: 50%;
  margin-top: -3.5em;
}
/*-----Link to top at bottom ------*/
div#trueSpirit-mobile.indiv-proj-wrapper h4{
    font-size: .8em;
    margin-top: 4em;
}
/*------- HIDE SCREENS FOR MOBILE VIEW--------*/
.hide-desktop{
  display: none;
}
.hide-mobile{
  display: block;
}
.tablet-wrapper{
  display: none;
}
/*-----------TEASER SCREEN HOME---------------*/
div#index-teaser.clearfix{
  width: 80%;
  margin-left: 10%;
  padding-bottom: 4em;
}
div#index-teaser.clearfix h1{
    margin: 0;
    padding-top: 1.5em;
    padding-bottom: 1em;
    text-align: center;
    font-size: 1.6em;
    opacity: .8;
    letter-spacing: .2em;
}
div.teaser-wrapper{
  background-color: rgba(34,34,34, .95);
  padding: 2%;
  width: 33.3333%;
  float: left;
}
div#index-teaser h2{
  text-align: center;
  text-transform: uppercase;
}
div#index-teaser div.recent-proj div.tmh-teaser{
  background-color: white;
  text-align: center;
  color: #999;
  padding:1em;
  border: 3px solid rgba(0,0,0,.2);
  transition: opacity ease-in-out 1s;

}
div#index-teaser div.recent-proj div.tmh-teaser a{
  text-decoration: none;
  color: #999;
}
div#index-teaser div.recent-proj div.tmh-teaser:hover{
  opacity: .6;
}
div#index-teaser div.recent-proj div.tmh-teaser h2{
  font-size: 1.2em;
}
div#index-teaser div.recent-proj div.tmh-teaser h3{
  font-size: 1em;
}
div#index-teaser div.recent-proj div.tmh-teaser img{
  width: 60%;
  margin-top: -1em;
  margin-bottom: -2.0em;
}

div#index-teaser.clearfix p span img, div.mobile-wrapper p span img{
    width: 4%;
    opacity: .7;
    margin-left: 48%;
    margin-top: -2.5em;
}
div#content div.mobile-wrapper div.about-me-desktop h1#about-me{
  margin-bottom: 0;
  padding-top: 2em;
  padding-bottom: 1em;
  font-size: 1.8em;
  opacity: .8;
  letter-spacing: .2em;
}
div#content div.mobile-wrapper div.about-me-desktop{
  background-color: white;
  padding-bottom: 2em;
}
div.about-img img{
  width: 20%;
  margin-left: 40%;
}
/*----------------Contact-------------------*/
h1#contact-mobile{
    margin-bottom: 0;
    padding-top: 2em;
    font-size: 1.6em;
    letter-spacing: .25em;
    padding-bottom: 2em;
}
div#contact-mobile.contact-wrapper{
    width: 40%;
    margin-left: 30%;
}
div#contact-mobile.contact-wrapper p{
  padding-bottom: 2em;
}


/*----- FOOTER -----*/


}
