/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------- clearfix hack --------------------*/
.clearfix{ overflow: auto; }

.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/*-----BODY -----*/
body {
  font-size: 16px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Raleway', sans-serif;
}
/*-----CONTAINER -----*/
#container {
  background-color: rgba(34,34,34, .95);   /*becomes the nav background color*/
  min-width: 320px;
  max-width: 1140px;
  color: white;
}


/*-----HEADER -----*/
header {
  text-align: center;
  background-image: url('/images/empire-state.jpg');
  background-size: cover;
  padding-top: 5em;
  padding-bottom: 5em;
}
header h1 {
  letter-spacing: .2em;
  font-size: 2em;
  line-height: 2.25em;

}
header h2 {
  font-size: .8em;
  color: #aaa;
  letter-spacing: .25em;
  margin: 0 10%;
}

header.proj-page{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  opacity: .7;
}


/*-----NAVigation -----*/

nav {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}
nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding: 5px 0;
  margin: 0;
}
nav ul li a {
  padding: 0 5px;
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgba(255, 255, 255, .8);
}

/*--- Responsive Nav - Uses jQuery -------*/
#responsive-nav {
cursor: pointer;
color: white;
font-family: 'Roboto', sans-serif;
text-transform: uppercase;
font-weight: bold;
padding: 5px 0;
padding-top: 1em;
padding-bottom: 1em;
}



/*-----CONTENT -----*/
div#content {
  min-height: 5em;
}
div#content h1{
  padding-top: .6em;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: .2em;
  color: rgba(255,255,255, .65);
}

/*----- Images Inside Home Page Content Section ------*/
.proj-wrapper h2{
  color: #222;
  font-size: 1.25em;
  margin-left: 25%;
  margin-top: 1.4em;
}
.proj-wrapper{
  width: 50%;
  background-color:  rgba(255,255,255, .95);
  margin-left: 2%;
  margin-bottom: 5%;
  margin-right: 2%;
  text-align: center;
  border-width:5px;
  border-style:ridge;
  border-color: rgba(45,45,45, .8);
}

.proj-wrapper#ux-design{
  background-image: url('/images/bandmeeter450px.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 15vh;
  width: 96%;
  margin-top: 2em;

}
.proj-wrapper#web-dev{
  background-image: url('/images/TakeMeHome450px.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 15vh;
  width: 96%;
  margin-bottom: 2.5em;
}

div#about-mobile.about-wrapper{
  background-color: white;
}
div#about-mobile.about-wrapper p{
  color: #222;
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

div.mobile-wrapper h1{
  background-color: white;
}
div#content div.mobile-wrapper h1{
  color: #222;
  margin-bottom: -.2em;
  padding-bottom: .8em;
  padding-top: 1.6em;
}
div.about-img img{
  width: 30%;
  margin-left: 35%;
  margin-top: 2em;
}
div#content div.mobile-wrapper h1#contact-mobile{
  margin-top: 0;
  background-color: rgba(34,34,34, .95);
  color: rgba(255,255,255,.65);
}
div#contact-mobile.contact-wrapper p{
  text-align: center;
  font-size: 1.1em;
  background-color: transparent;
  padding-top: .5em;
  padding-bottom: .5em;
  letter-spacing: .15em;
}
div#contact-mobile.contact-wrapper p span{
  text-transform: uppercase;
}

/*----- UX Main Projects Page ---------*/
.ux-proj-wrapper{
  text-align: center;
  width: 96%;
  margin-left: 2%;
  background: white;
  color: #999;
  padding-top: .5em;
  padding-bottom: .5em;
}
.ux-proj-wrapper img{
  margin-top: -16%;
  margin-bottom: -20%;
}
.ux-proj-wrapper p{
  padding-left: .5em;
  padding-right: .5em;
}
div#bandmeeter.ux-proj-wrapper{
  margin-top: .75em;
}
div#bandmeeter.ux-proj-wrapper img{
  margin-bottom: -9%;
}

/*----- devProjects.html styles--------*/
div#crowdCare-mobile.ux-proj-wrapper{
  margin-top: .75em;
}
div#spaceBar-mobile.ux-proj-wrapper{
  margin-top: .75em;
}


/*----- Individual Project Pages ------------------*/
.indiv-proj-wrapper{
  text-align: center;
  background: white;
  color: #999;
  padding-top: .5em;
  padding-bottom: .5em;
}
div#content div.mobile-wrapper h1.proj-h1{
  padding-top: .25em;
  font-size: 2em;
  margin-bottom: -1.6em;
}
div#content div.mobile-wrapper p.proj-intro{
  margin-top: -2.2em;
}

/*------- Styling for Stand Alone Project Pages --------*/
div.overview{
  background-color: rgba(0,0,0,.9);
  color: white;
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: center;
  padding-left: .8em;
  padding-right: .8em;
  font-size: 1.2em;
  line-height: 1.50;
}
div.overview h2{
  font-size: 1.8em;
  text-transform: uppercase;
}
div#role{
  background-color: rgba(158,158,158,.15);
  margin-top: -1.5em;
  padding-bottom: .5em;
}
div#approach{
  background-color: rgba(158,158,158,.35);
}
div#approach h2{
  line-height: 1.8em;
  padding-bottom: .5em;
  color: rgba(0,0,0,.7);
}
div#challenge{
    margin-top: -1.5em;
    color: rgba(0,0,0,.65);
    padding-top: .5em;
}
div.tools{
  background-color: rgba(158,158,158,.15);
  margin-top: -1.5em;
  padding-top: 1.25em;
}
div.methods{
  background-color: rgba(158,158,158,.15);
  margin-top: -1em;
  padding-top: 1.25em;
  padding-bottom: 1em;
}
div.tools h3, div.methods h3{
  font-size: 1.6em;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: left;
  padding-left: 1em;
}

div.tools ul, div.methods ul{
  text-align: left;
  padding-left: .5em;
  padding-right: .5em;
}
div.tools ul li, div.methods ul li{
  list-style-type: square;
  list-style-position: inside;
  font-size: 1.2em;
  padding-bottom: .2em;
  padding-left: 1em;
}
div#role h2, div#challenge h2, div#approach h2, div#define h2{
    padding-top: .8em;
    font-size: 1.8em;
    letter-spacing: .09em;
}
div#role p, div#challenge p{
    font-size: 1.2em;
    text-align: left;
    padding-left: .5em;
    padding-right: .5em;
}
div#role ul, div#challenge ul{
    text-align: left;
    margin-right: .5em;
    line-height: 1.3;
}
div#role ul li, div#challenge ul li{
    font-size: 1.2em;
    padding-bottom: .5em;
    list-style-type: square;
}
div#discovery{
  background-color: rgba(0,0,0,.80);
}
div#discovery h2{
  background-color: rgba(0,0,0,.85);
  font-size: 1.8em;
  letter-spacing: .3em;
  color: rgba(255,255,255,.9);
  line-height: 2.8em;
  margin-top: -.1em;
}
div#discovery h3, div#define h3{
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.5em;
  letter-spacing: .08em;
  padding-top: 1em;
  text-transform: uppercase;
}
div#discovery h3{
  color: rgba(255,255,255,.85);
}
div#discovery p{
  color: rgba(255,255,255,.75);
  font-size: 1.2em;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: .5em;
  line-height: 1.5;
  letter-spacing: .02em;
}
div.indiv-proj-img.comp-analy{
  margin-top: -1.139em;
  padding: .8em;
  background-color: rgba(0,0,0,.80);
}
div.indiv-proj-img.persona{
    background: rgba(158,158,158,.05);
    margin-top: -1.2em;
    padding-top: .5em;
    color: rgba(0,0,0,.6);
    padding-bottom: .5em;
}
div#define{
  background-color: rgba(158,158,158,.15);
  margin-top: -.2em;
  padding-top: 1em;
}
div#define h2{
  background-color: rgba(158,158,158,.25);
  margin-top: -.4em;
  line-height: 2.8em;
  color: rgba(0,0,0,.65);
}
div#define p{
  font-size: 1.2em;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: .5em;
  line-height: 1.5;
  letter-spacing: .02em;
}

/*----- hide tablet projects on home screen -------*/
.tablet-wrapper{ display: none; }


/*----- FOOTER -----*/
footer {
  background: rgba(0,0,0,.9);
  clear: both;
  text-align: center;
  padding: 1em;
  padding-bottom: .8em;
}

/*------ IMAGES --------*/
img{
  width: 100%;
  height: auto;
}
div.tools h3 span img, div.methods h3 span img{
  width: 10%;
  opacity: .6;
}
div.indiv-proj-img.comp-analy img{
  width: 90%;
  padding-top: 1em;
  padding-bottom: 1em;
}

/*-------SOCIAL ICONS ----------*/
.socicon-github, .socicon-linkedin, .socicon-mail{
  font-size: 1.6em;
  color: white;
}
div#contact-mobile.contact-wrapper p {
  float: left;
  width: 33.3333%;
}
div#contact-mobile.contact-wrapper p a{
  text-decoration: none;
}
div#contact-mobile.contact-wrapper p a:hover{
  color: rgba(255, 255, 255, .7);
}

/*------- VISIBILITY -----------*/

.visible{
  display: block;
}

.hide{
  display: none;
}







