/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------- clearfix hack --------------------*/
.clearfix{ overflow: auto; }


.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


/*-----BODY -----*/
body {
  font-size: 16px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Raleway', sans-serif;
}
/*-----CONTAINER -----*/
#container {
  background-color: rgba(34,34,34, .95);   /*becomes the nav background color*/
  min-width: 320px;
  max-width: 1140px;
  color: white;
}

div.sm-logo{
  display: none;
}


/*-----HEADER -----*/
header {
  text-align: center;
  background-image: url('/images/empire-state.jpg');
  background-size: cover;
  padding-top: 5em;
  padding-bottom: 5em;
}
header h1 {
  letter-spacing: .2em;
  font-size: 2em;
  line-height: 2.25em;

}
header h2 {
  font-size: .8em;
  color: #aaa;
  letter-spacing: .25em;
  margin: 0 10%;
}

header.proj-page{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  opacity: .7;
}


/*-----NAVigation -----*/

nav {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}
nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding: 5px 0;
  margin: 0;
}
nav ul li a {
  padding: 0 5px;
  text-decoration: none;
  color: white;
  transition: color ease-in .4s;
}
nav ul li a:hover {
  color: rgba(255, 255, 255, .6);
}




/*--- Responsive Nav - Uses jQuery -------*/
#responsive-nav {
cursor: pointer;
color: white;
font-family: 'Roboto', sans-serif;
text-transform: uppercase;
font-weight: bold;
padding: 5px 0;
padding-top: 1em;
padding-bottom: 1em;
}

#responsive-nav ul li{
  text-transform: uppercase;
}

/*-----CONTENT -----*/
div#content {
  min-height: 5em;
}
div#content h1{
  padding-top: .6em;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: .2em;
  color: rgba(255,255,255, .65);
}

/*----- Images Inside Home Page Content Section ------*/
.proj-wrapper h2{
  color: #222;
  font-size: 1.25em;
  margin-left: 25%;
  margin-top: 1.4em;
}
.proj-wrapper{
  width: 50%;
  background-color:  rgba(255,255,255, .95);
  margin-left: 2%;
  margin-bottom: 5%;
  margin-right: 2%;
  text-align: center;
  border-width:5px;
  border-style:ridge;
  border-color: rgba(45,45,45, .8);
}

.proj-wrapper#ux-design{
  background-image: url('/images/bandmeeter450px.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 15vh;
  width: 96%;
  margin-top: 2em;

}
.proj-wrapper#web-dev{
  background-image: url('/images/TakeMeHome450px.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 15vh;
  width: 96%;
  margin-bottom: 2.5em;
}

div#about-mobile.about-wrapper{
  background-color: white;
}
div#about-mobile.about-wrapper p{
  color: #222;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding-bottom: 2em;
  margin-top: 0;
  margin-bottom: 0;
}
div#about-mobile.about-wrapper p.about-p1{
  padding-bottom: 1em;
}
div#approach h2{
  margin: 0;
}
div.mobile-wrapper h1{
  background-color: white;
}
div#content div.mobile-wrapper h1{
  color: #222;
  margin-bottom: -.2em;
  padding-bottom: .8em;
  padding-top: 1.6em;
}
div.about-img img{
  width: 30%;
  margin-left: 35%;
  margin-top: 2em;
}
div#content div.mobile-wrapper h1#contact-mobile{
  margin-top: 0;
  background-color: rgba(34,34,34, .95);
  color: rgba(255,255,255,.65);
}
div#contact-mobile.contact-wrapper p{
  text-align: center;
  font-size: 1.1em;
  background-color: transparent;
  padding-top: .5em;
  padding-bottom: .5em;
  letter-spacing: .15em;
}
div#contact-mobile.contact-wrapper p span{
  text-transform: uppercase;
}

/*----- UX Main Projects Page ---------*/
.ux-proj-wrapper{
  text-align: center;
  width: 96%;
  margin-left: 2%;
  background: white;
  color: #999;
  padding-top: .5em;
  padding-bottom: .5em;
}
.ux-proj-wrapper img{
  margin-top: -16%;
  margin-bottom: -20%;
}
.ux-proj-wrapper p{
  padding-left: .5em;
  padding-right: .5em;
}
div#bandmeeter.ux-proj-wrapper{
  margin-top: .75em;
}
div#bandmeeter.ux-proj-wrapper img{
  margin-bottom: -9%;
}

/*----- devProjects.html styles--------*/
div#crowdCare-mobile.ux-proj-wrapper{
  margin-top: .75em;
}
div#spaceBar-mobile.ux-proj-wrapper{
  margin-top: .75em;
}


/*----- Individual Project Pages ------------------*/
.indiv-proj-wrapper{
  text-align: center;
  background: white;
  color: #999;
  padding-top: .5em;
  padding-bottom: .5em;
}
div#content div.mobile-wrapper h1.proj-h1{
  padding-top: .25em;
  font-size: 2em;
  margin-bottom: -1.6em;
}
div#content div.mobile-wrapper p.proj-intro{
  margin-top: -2.2em;
}

/*------- Styling for Stand Alone Project Pages --------*/
div.overview{
  background-color: rgba(0,0,0,.9);
  color: white;
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  line-height: 1.40;
}
p.ts-overview.bm-overview{
    margin: 0;
    padding-bottom: 2em;
    padding-top: .5em;
}
div.overview h2{
  font-size: 1.6em;
  text-transform: uppercase;
}
div#role, div#wireframes, div#future-plans{
  background-color: rgba(158,158,158,.15);
  margin-top: 0;
  padding-bottom: .5em;
}

div#role.bandmeeter-role p{
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  line-height: 1.4;
  text-align: left;
  margin: 0;
  padding-bottom: 1em;
}

div#approach{
  background-color: rgba(158,158,158,.35);
}
div#approach h2{
  line-height: 1.8em;
  padding-bottom: .5em;
  color: rgba(0,0,0,.7);
}
div#challenge{
    margin-top: -1.5em;
    color: rgba(0,0,0,.65);
    padding-top: .5em;
}
div#challenge h2.chal-h2{
  background-color: rgba(0,0,0,.12);
}
div#challenge.crowdCareChallenge{
  margin-top: 0;
  padding-top: 0;
}
div#challenge.crowdCareChallenge h2.crowdCareChallenge-h2{
  background-color: rgba(158,158,158,.15);
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
.chal-desktop{
  display: none;
}
div#sketching h2{
    padding: 1em;
    background-color: rgba(0,0,0,.8);
    color: rgba(255,255,255,.9);
    font-size: 1.6em;
    letter-spacing: .09em;
}
div#sketching h3.bm-sketch-h3{
    border: 1px dotted white;
    margin: .5em;
    padding-top: 1em;
    padding-bottom: 1em;
}
div#define.crowdCare-define h2{
  line-height: 1.5;
  padding-bottom: 1em;
  letter-spacing: .07em;
  margin-top: 0;
  margin-bottom: 0;
}
div#define.crowdCare-define p{
  margin-bottom: 0;
}
div#define.bandmeeter-define{
  padding-bottom: 1em;
}
div.tools, div.methods{
  margin-top: 0;
  padding-top: 1.25em;
  width: 85%;
  margin-left: 12.5%;
}
div.col-2.clearfix{
  background-color: rgba(158,158,158,.15);
}
div.tools.crowdCareTools{
  margin-top: 0;
}
div.tools.crowdCareTools h3{
  padding-bottom: 1em;
}
div.tools.crowdCareTools ul{
  padding-bottom: 2em;
  margin-bottom: 0;
}
div.methods{
  margin-top: -1em;
  padding-top: 1.25em;
  padding-bottom: 1em;
}
div.tools h3, div.methods h3{
  font-size: 1.6em;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: left;
  padding-left: 1em;
}

div.tools ul, div.methods ul, div#define ul{
  text-align: left;
  padding-left: .5em;
  padding-right: .5em;
}
div.tools ul li, div.methods ul li, div#define ul li{
  list-style-type: square;
  list-style-position: inside;
  font-size: 1.2em;
  padding-bottom: .2em;
  padding-left: 1em;
}

div#role h2, div#challenge h2, div#approach h2, div#define h2, div#site-design h2, div#wireframes h2, div#future-plans h2{
    padding-top: 1em;
    font-size: 1.8em;
    letter-spacing: .09em;
    margin: 0;
    padding-bottom: 1em;

}
div#discovery.api h2{
  margin-top: 0;
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: rgba(0,0,0,.4);
}
div#discovery h3.bm-discovery-h3-1, div#discovery h3.bm-discovery-h3-2{
    border: 2px dotted;
    margin: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    line-height: 1.4;
}
div#discovery p.bm-discovery-p1{
  padding-bottom: 1em;
  padding-top: 1em;
  margin: 0;
  line-height: 1.4;
}
div#discovery p.bm-discovery-p2{
  padding-top: .5em;
  padding-bottom: 0;
  margin: 0;
}
div#discovery.api p{
    margin-bottom: 0;
    text-align: center;
}
div#site-design h2.second-h2, div#bandmeeter-persona h2.second-h2{
  font-size: 1.2em;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  line-height: 1.5;
}
div#role p, div#challenge p{
    font-size: 1.2em;
    text-align: left;
    padding-left: .5em;
    padding-right: .5em;
}
div#role ul, div#challenge ul, div#approach.moscow ul{
    text-align: left;
    padding-right: 1em;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;

}
div#role ul li, div#challenge ul li, div#approach.moscow ul li{
    font-size: 1em;
    padding-bottom: .5em;
    list-style-type: square;
}
div#discovery, div#site-design, div#prototypes, div#sketching{
  background-color: rgba(0,0,0,.80);
}
div#discovery h2, div#prototypes h2{
  background-color: rgba(0,0,0,.85);
  font-size: 1.6em;
  letter-spacing: .3em;
  color: rgba(255,255,255,.9);
  line-height: 1.5;
  margin: 0;
  text-transform: uppercase;
  padding-top: 1em;
  padding-bottom: 1em;
}
div#discovery.ts-discovery h3{
  text-align: center;
  line-height: 1.4em;
  margin: 0;
}
div#discovery h2.bandmeeter-discovery{
  line-height: 1.5em;
  padding-bottom: .5em;
  padding-top: .5em;
}
div#approach.moscow h2{
    background-color: rgba(158,158,158,.75);
    color: rgba(255,255,255,.8);
}
div#approach.moscow h3{
    font-size: 1.5em;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    color: rgba(0,0,0,.6);
}
div#approach.moscow p{
  text-align: left;
  padding: 1em;
  line-height: 1.5;
  letter-spacing: .02em;
  font-size: 1.2em;
  color: rgba(0,0,0,.6);
}
div#approach.moscow ul{
  margin-bottom: 0;
  padding-bottom: 1.5em;
}
div#discovery h3, div#define h3, div#site-design h3, div#bandmeeter-persona h3, div#bandmeeter-emp h3, div#sketching h3, div#scope h3, div#bandmeeter-sitemap h3{
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.4em;
  letter-spacing: .08em;
  padding-top: 2em;
  padding-bottom: .5em;
  text-transform: uppercase;
  margin: 0;
}
div#site-design.crowdCareWires h2{
  margin-top: 0;
  line-height: 1.5;
  padding-bottom: 1em;
  padding-top: 1em;
}
div#discovery h3, div#sketching h3{
  color: rgba(255,255,255,.85);
}
div#discovery p, div#prototypes p, div#sketching p{
  color: rgba(255,255,255,.75);
  font-size: 1em;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1.5em;
  padding-top: .5em;
  line-height: 1.25;
}
div#discovery.ts-discovery p{
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 1em;
  padding-top: 2em;
}
div#discovery.bandmeeter-discovery-wrapper{
  padding-bottom: 2em;
}
div.indiv-proj-img.comp-analy{
  margin-top: 0;
}
div#bandmeeter-persona{
  padding-bottom: 1em;
}
div#sketching{
  padding-bottom: 1.5em;
  margin-bottom: .5em;
}

/*---image backgrounds -----*/
div.indiv-proj-img.comp-analy{
  padding: 1em;
  background-color: rgba(0,0,0,.80);
}
div.indiv-proj-img.bandmeeter-comp{
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: white;
}
div.indiv-proj-img.empathy{
  background-color: rgba(158,158,158,.25);
  margin-top: -1.1em;
  margin-bottom: -.5em;
}
div.indiv-proj-img.persona{
    background: rgba(158,158,158,.05);
    margin-top: -1.2em;
    padding-top: .5em;
    color: rgba(0,0,0,.6);
    padding-bottom: .5em;
}
div.indiv-proj-img.persona.crowdCareERD{
  margin-top: 0;
  padding-top: .5em;
  padding-bottom: 1em;
}
div.indiv-proj-img.sitemap{
    background-color: rgba(0,0,0,.8);
    color: rgba(255,255,255,.9);
    padding-top: .5em;
    padding-bottom: 1em;
    margin-top: -.2em;
}
div.indiv-proj-img.cards.sitemap.wires img{
    border-top: 3em solid white;
    border-bottom: 3em solid white;
    background-color: white;
}
div.indiv-proj-img.cards.wires h3{
  background-color: rgba(0,0,0,.8);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: rgba(255,255,255,.8);
}
div.indiv-proj-img.cards.wires img{
    border-bottom: 2.5em solid white;
    border-top: 2.5em solid white;
}
div.indiv-proj-img.bandmeeter-sketch{
  background-color: rgba(0,0,0,.8);
  margin-top: -1.2em;
}
div.indiv-proj-img.final-sitemap h3{
  margin: 0;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  font-size: 1.2em;
}
div.indiv-proj-img.wires h3{
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
div.indiv-proj-img.bandmeeter-persona-img{
  background-color: transparent;
  margin-top: -1.25em;
}
div.indiv-proj-img.mockup{
  background-color: transparent;
}
div.indiv-proj-img.mockup h3{
  padding-top: 1.5em;
  margin-top: 2.5em;
}
div.indiv-proj-img.mockup.bm-mockup h3{
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
}
div.indiv-proj-img.mockup.bm-mockup img{
  margin-top: -3em;
  margin-bottom: -3em;
  width: 80%;
}
div.indiv-proj-img.persona.ux h3{
  margin: 0;
  padding-top: 2em;
  padding-bottom: 1em;
}
div#site-design.ts-design h2{
  margin: 0;
  font-size: 1.6em;
  line-height: 1.5;
  padding-bottom: 1em;
  padding-top: 1em;
}
div.indiv-proj-img.bandmeeter-sitemap-img{
  padding: .5em;
  margin-bottom: 1.5em;
}
div.indiv-proj-img.bandmeeter-sitemap-img h3{
  padding-bottom: 1em;
}
div.indiv-proj-img.cards.tablet-hide h3{
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
div.indiv-proj-img.sitemap.tablet-hide{
  margin: 0;
}
div.indiv-proj-img.sitemap.tablet-hide h3{
  margin: 0;
  padding-top: 1em;
}
div.indiv-proj-img.ts-wires h3{
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.2em;
    letter-spacing: .02em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
div.indiv-proj-img.ts-wires{
  padding-bottom: 1em;
}

/*--------------------------------------------------------------------*/

div#define, div#bandmeeter-persona, div#bandmeeter-emp, div#scope, div#bandmeeter-sitemap{
  background-color: rgba(158,158,158,.15);
  margin-top: 0;
  padding-top: 0;
}
div#define h2, div#wireframes h2, div#future-plans h2, div#bandmeeter-persona h2, div#bandmeeter-emp h2, div#scope h2{
  letter-spacing: .2em;
  background-color: rgba(158,158,158,.25);
  font-size: 1.6em;
  line-height: 1.5em;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  color: rgba(0,0,0,.65);
  text-transform: uppercase;
  padding-left: .5em;
  padding-right: .5em;
}
div#define.bandmeeter-define ul.bm-define-ul{
    font-size: 1em;
    margin: 0;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
}
div#define.bandmeeter-define h3{
    padding-top: 1em;
    border: 2px dotted #999;
    margin: .5em;
}
div#wireframes p.ts-wires-p{
  padding-top: 1em;
}
div#site-design h2{
  font-size: 1.8em;
  letter-spacing: .3em;
  background-color: rgba(158,158,158,.45);
  color: rgba(255,255,255,.85);
  line-height: 2.8em;
}
div#scope h3.scope-h3{
    border: 2px dotted #999;
    margin: .5em;
    padding-top: 1em;
}

div#bandmeeter-persona h2{
  line-height: 1.4;
  padding-bottom: 1em;
  margin: 0;
  padding-top: 1em;
  letter-spacing: .2em;
  background-color: rgba(158,158,158,.25);
  color: rgba(0,0,0,.65);
}
div#future-plans h2{
  line-height: 1.5;
  padding-top: .75em;
  padding-bottom: .5em;
  margin-top: 0;
}
div#define p, div#site-design p, div#wireframes p, div#future-plans p, div#bandmeeter-persona p, div#bandmeeter-emp p, div#scope p, div#bandmeeter-sitemap p{
  font-size: 1em;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1.5em;
  padding-top: 1em;
  line-height: 1.3;
  letter-spacing: .02em;
  margin: 0;
}
div#trueSpirit-mobile.indiv-proj-wrapper h4{
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
div#sketching{
  margin: 0;
}
/*----- hide tablet projects on home screen -------*/
.tablet-wrapper{ display: none; }


/*----- FOOTER -----*/
footer {
  background: rgba(0,0,0,.9);
  clear: both;
  text-align: center;
  padding: 1em;
  padding-bottom: .8em;
}

/*------ IMAGES --------*/
img{
  width: 100%;
  height: auto;
  padding-top: 1em;
}
div.tools h3 span img, div.methods h3 span img{
  width: 10%;
  opacity: .6;
}
div.indiv-proj-img.final-sitemap img{
  margin: 0;
  padding: 1em;
}
div.indiv-proj-img.comp-analy img{
  width: 90%;
  padding-top: 1em;
  padding-bottom: 1em;
}
div.indiv-proj-img.mockup img{
  margin-top: -2em;
  margin-bottom: -4em;
}

/*index*/
div#index-teaser.clearfix h1{
    text-align: center;
    font-size: 1.6em;
    padding-top: 1em;
    padding-bottom: 1em;
}
div#index-teaser.clearfix p{
    width: 4%;
    margin-left: 48%;
    margin-top: -2em;
}
.proj-wrapper#ux-design.hide-desktop, .proj-wrapper#web-dev.hide-desktop{
  margin-top: 0;
  width: 96%;
  margin-left: 2%;
  padding-top: .5em;
}
div.mobile-wrapper a{
  text-decoration: none;
  color: mediumturquoise;
}
h1#about-me{
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
div#about.about-me-desktop{
  background-color: white;
}
div#about.about-me-desktop p{
  width: 4%;
  margin-left: 48%;
  margin-top: -.5em;
  opacity: .7;
  margin-bottom: -.2em;
}
div.about-img img{
  margin-top: 0;
  padding-top: 3em;
}
/*-------SOCIAL ICONS ----------*/
.socicon-github, .socicon-linkedin, .socicon-mail{
  font-size: 1.6em;
  color: white;
}
div#contact-mobile.contact-wrapper p {
  float: left;
  width: 33.3333%;
}
div#contact-mobile.contact-wrapper p a{
  text-decoration: none;
}
div#contact-mobile.contact-wrapper p a:hover{
  color: rgba(255, 255, 255, .7);
}
div#contact-mobile.contact-wrapper{
  width: 60%;
  margin-left: 20%;
  padding-top: 1em;
  padding-bottom: 1em;
}
h1#contact-mobile{
    margin-bottom: 0;
    padding-top: 2em;
    font-size: 1.6em;
    letter-spacing: .25em;
    padding-bottom: 2em;
    text-align: center;
}

h1#contact-mobile.contact-proj{
  padding-bottom: 0;
}

/*------- VISIBILITY -----------*/

.visible{
  display: block;
}

.hide{
  display: none;
}
.hide-mobile{
  display: none;
}
/*---- hide side by side images on phone -----*/
div.img-2up-container.clearfix{
  display: none;
}





