/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------- clearfix hack --------------------*/
.clearfix{ overflow: auto; }

.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/*-----BODY -----*/
body {
  font-size: 16px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Raleway', sans-serif;
}
/*-----CONTAINER -----*/
#container {
  background-color: rgba(34,34,34, .95);   /*becomes the nav background color*/
  min-width: 320px;
  max-width: 1140px;
  color: white;
}


/*-----HEADER -----*/
header {
  text-align: center;
  background-image: url('/images/empire-state.jpg');
  background-size: cover;
  padding-top: 5em;
  padding-bottom: 5em;
}
header h1 {
  letter-spacing: .2em;
  font-size: 2em;
  line-height: 2.25em;

}
header h2 {
  font-size: .8em;
  color: #aaa;
  letter-spacing: .25em;
  margin: 0 10%;
}



/*-----NAVigation -----*/

nav {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}
nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding: 5px 0;
  margin: 0;
}
nav ul li a {
  padding: 0 5px;
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgba(255, 255, 255, .8);
}

/*--- Responsive Nav - Uses jQuery -------*/
#responsive-nav {
cursor: pointer;
color: white;
font-family: 'Roboto', sans-serif;
text-transform: uppercase;
font-weight: bold;
padding: 5px 0;
padding-top: 1em;
padding-bottom: 1em;
}



/*-----CONTENT -----*/
div#content {
  min-height: 5em;
}
div#content h1{
  padding-top: .6em;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: .2em;
  color: rgba(255,255,255, .65);
}

/*----- Images Inside Home Page Content Section ------*/
.proj-wrapper h2{
  color: #222;
  font-size: 1.25em;
  margin-left: 25%;
  margin-top: 1.4em;
}
.proj-wrapper{
  width: 50%;
  background-color:  rgba(255,255,255, .95);
  margin-left: 2%;
  margin-bottom: 5%;
  margin-right: 2%;
  text-align: center;
  border-width:5px;
  border-style:ridge;
  border-color: rgba(45,45,45, .8);
}

.proj-wrapper#ux-design{
  background-image: url('/images/bandmeeter450px.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 15vh;
  width: 96%;
  margin-top: 2em;

}
.proj-wrapper#web-dev{
  background-image: url('/images/TakeMeHome450px.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 15vh;
  width: 96%;
  margin-bottom: 2.5em;
}

div#about-mobile.about-wrapper{
  background-color: white;
}
div#about-mobile.about-wrapper p{
  color: #222;
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

div.mobile-wrapper h1{
  background-color: white;
}
div#content div.mobile-wrapper h1{
  color: #222;
  margin-bottom: -.2em;
  padding-bottom: .8em;
  padding-top: 1.6em;
}
div.about-img img{
  width: 30%;
  margin-left: 35%;
  margin-top: 2em;
}
div#content div.mobile-wrapper h1#contact-mobile{
  margin-top: 0;
  background-color: rgba(34,34,34, .95);
  color: rgba(255,255,255,.65);
}
div#contact-mobile.contact-wrapper p{
  text-align: center;
  font-size: 1.1em;
  background-color: transparent;
  padding-top: .5em;
  padding-bottom: .5em;
  letter-spacing: .15em;
}
div#contact-mobile.contact-wrapper p span{
  text-transform: uppercase;
}

/*----- UX Projects Page ---------*/
.ux-proj-wrapper{
  text-align: center;
  width: 96%;
  margin-left: 2%;
  background: white;
  color: #999;
  padding-top: .5em;
  padding-bottom: .5em;
}
.ux-proj-wrapper img{
  margin-top: -16%;
  margin-bottom: -20%;
}
.ux-proj-wrapper p{
  padding-left: .5em;
  padding-right: .5em;
}
div#bandmeeter.ux-proj-wrapper{
  margin-top: .75em;
}
div#bandmeeter.ux-proj-wrapper img{
  margin-bottom: -9%;
}

/*----- devProjects.html styles--------*/
div#crowdCare-mobile.ux-proj-wrapper{
  margin-top: .75em;
}
div#spaceBar-mobile.ux-proj-wrapper{
  margin-top: .75em;
}

/*----- hide tablet projects on home screen -------*/
.tablet-wrapper{ display: none; }


/*----- FOOTER -----*/
footer {
  background: rgba(0,0,0,.9);
  clear: both;
  text-align: center;
  padding: 1em;
}

/*------ IMAGES --------*/
img{
  width: 100%;
  height: auto;
}

/*-------SOCIAL ICONS ----------*/
.socicon-github, .socicon-linkedin, .socicon-mail{
  font-size: 1.6em;
  color: white;
}
div#contact-mobile.contact-wrapper p {
  float: left;
  width: 33.3333%;
}
div#contact-mobile.contact-wrapper p a{
  text-decoration: none;
}
div#contact-mobile.contact-wrapper p a:hover{
  color: rgba(255, 255, 255, .7);
}

/*------- VISIBILITY -----------*/

.visible{
  display: block;
}

.hide{
  display: none;
}







